@keyframes test {
    0%   {background-color: white;}
  100% {background-color: lightgrey;}
}

.active {
    background-color: lightgrey;
    animation-name: test;
    animation-duration: 1s;
    border-radius: 25px;
}

.nav-link:hover {
    cursor: pointer;
}