<section id="home">
    <div class="container p-1">
        <div *ngIf="articles.length == 0">
            <h1 class="text-center display-3 mt-5 animated bounceInUp fast">
                No Articles
            </h1>
        </div>
        <div *ngIf="articles.length > 0">
            <div class="article animated bounceInUp fast" *ngFor="let article of articles">
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <a href="{{ article.url }}" target="_blank"><img class="article-image img-fluid" src="{{ article.urlToImage }}"
                                alt="img"></a>
                    </div>
                    <div class="col-lg-6">
                        <h3>{{ article.title }}</h3>
                        <p><small class="text-muted">{{ article.publishedAt | date:'short'}}</small></p>
                        <hr>
                        <p *ngIf="article.content">{{ article.content }}</p>
                        <p *ngIf="!article.content">{{ article.description }}</p>
                            <a href="{{ article.url }}" target="_blank">
                                <small>
                                    {{ article.source.name }}: Read the full story
                                </small>
                            </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>

