ngb-carousel {
    min-width: 500px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    position: relative;
    left: 50%;
    transform: translateX((-50%));
}

.mainImg {
    width: 30%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}